@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&family=Lobster&display=swap');

body{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: #9fafca;
    font-family: Josefin Sans, 'Courier New', Courier, monospace;
}

.logo{
    padding-left: 10px;
    font-family: Lobster, 'Courier New', Courier, monospace;
}

header{
background-color: #0e387a;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

}

.header_wrapper{
list-style: none;
display: flex;
flex-direction: row;

}

.header_wrapper a{
    text-decoration: none;
    color: white;
    margin: 10px 20px;
    padding: 10px 0px;
}

.header_wrapper a {
    border-bottom: 1px solid #0e387a;
}

.header_wrapper a:hover{ 
    color:  #9fafca;
    border-bottom: 1px solid #9fafca;
 }

 .header_wrapper a.select{
     
    padding: 10px 20px;

    border: 1px solid white !important;
    border-radius: 25px;
    color:  white !important;
}
